@import url(http://fonts.googleapis.com/css?family=Playfair+Display:900|Josefin+Sans:400);


@include font-face(codropsicons, '../../../fonts/codedropsicons/codropsicons', normal);


#container{
  margin:0;
  padding:0;
  width:auto;
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;

}

.intro{
  position:fixed;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #2a2e39;

  //snapping animation
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

  a{
    color:#36b6dd;

    &:hover{
    color:#ffffff;
    text-decoration: none;

    }
  }

  &__image{
    //makes image start at 0,0
    position: absolute;

    //Postion the bottom of the image with the bottom of the window
    bottom: 0;
    min-width: 100%;
    min-height: 120%;
    width: auto;
    height: auto;
    opacity: 0.8;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

    //animation synced to the intro header container
    transition: transform 0.6s, opacity 0.6s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

  }

}

//We use two translate3d transforms: the first one will move it up completely (100% of its own height)
//and the second one will move it down 250px which is the final height we want for our header.
//(We could as well use just one transformation on the Y-axis and say calc(-100% + 250px)
//but transitioning to that won’t work in IE.)
.container--open .intro {
  transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);

  .intro__image{
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}


.intro__content {
  position: absolute;
  bottom: 0;
  padding: 1.8em;
  width: 100%;
  font-size: 1.35em;

  h1{
    color:#ffffff;
  }
}

.intro__title{
  margin: 0 0 20px;
  font-weight: 900;
  //font-size: 4em;
  font-family: "Playfair Display", Georgia, serif;
  line-height: 1;
}

.intro__subtitle {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.intro__description {
  margin: 0 auto 0 1em;
  line-height: 1.2;
  font-size: 1em;
  color:#ffffff;

  &::before{
    content:none;
  }
  &::after{
    content:none;
  }
}

.codrops-links {
  position: relative;
  -webkit-flex: none;
  flex: none;
  white-space: nowrap;




  //creates the diagonal line
  &::after{
    position: absolute;
    top: 0;
    left:50%;
    margin-left: 6px;
    width: 2px;
    height: 100%;
    background: #dbdbdb;
    content: '';
    -webkit-transform: rotate3d(0,0,1,22.5deg);
    transform: rotate3d(0,0,1,22.5deg);
  }
}

.codrops-icon {
  display: inline-block;
  margin: 0.5em;
  padding: 0em 0;
  width: 1.5em;
  text-decoration: none;

  a{
    color: #36b6dd;

  }

  //hide text
  span{
    display: none;

  }

  //placement for icons
  &::before{
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
  }
}

.codrops-icon--drop:before {
  content: "\e001";
}

.codrops-icon--prev:before {
  content: "\e004";
}

/* Trigger button with SVG */
.trigger {
  position: relative;
  -webkit-flex: none;
  flex: none;
  overflow: hidden;
  margin: 0 0 0 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: none;

  span{
    position: absolute;
    top: 100%;
  }

  &::before{
    content:none;
  }
}

/* Hide the text */

.icon rect,
.icon line {
  stroke: #dbdbdb;
  fill: none;
  stroke-width: 2px;
}

.icon {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

/* Hide grid and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.items-wrap {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 250px 5px 0;

  //makes the images appear to full opacity
  &::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2e39;
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    pointer-events: none;
  }
}

.container--open .items-wrap::after {
  opacity: 0;

}
//controls grid with flex
.item {
  position: relative;
  -webkit-flex: 1 0 25%;
  flex: 1 0 25%;
  overflow: hidden;
  height: 22vw;
  outline: none;
  border: 5px solid #2a2e39;
  border-width: 0 5px 10px;
  background: #2a2e39;

  &::before{
    content:none;
  }
  &::after{
    content:none;
  }
  &:hover {
    .item__image{
      opacity: 1;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }

  }
}

.item__image {
  content: none;
  position: absolute;
  top: 50%;
  min-height: 100%;
  width: 100%;
  opacity: 0.7;
  -webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
  transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;

}

.item__title {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 1em;
  color: #dbdbdb;
  font-size: 1.85em;
  font-family: "Playfair Display", Georgia, serif;
  line-height: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.item:hover .item__title {
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

/* Media Queries */

@media screen and (max-width: 1440px) {
  .item {
    -webkit-flex: 1 0 33.333%;
    flex: 1 0 33.333%;
    height: 30vw;
  }
}

@media screen and (max-width: 1000px) {
  .item {
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
    height: 45vw;
  }
  .item,
  .intro__content {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 590px) {
  .item {
    -webkit-flex: 1 0 100%;
    flex: 1 0 100%;
    height: 90vw;
  }

  .intro__title {
    font-size: 2em;
  }
}